body {
    color: #c7d4d3;
    background-color: #042c34;
}

a {
    font-size: 9pt;
    color: #00ffea;
}

a:hover {
    color: #00998c;
    text-decoration: none;
}

h1 {
    margin: 2vh;
    padding: 3vh;
}

h2 {
    margin: 1vh;
    padding: 3vh;
}

h5 {
    margin: 1vh;
    padding: 2vh;
}

.score-headers {
    text-align: center;
}

.centered {
    height: 50pt;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.nav-tabs .nav-item .nav-link {
    border-bottom: 0px;
    background-color: transparent;
    color: #00998c;
    font-size: 10pt;
}

.nav-tabs .nav-item .nav-link:hover {
    border-bottom: 0px;
    background-color: transparent;
    color: #00ffea;
    font-size: 10pt;
}

.nav-tabs .nav-item .nav-link.active {
    border-bottom: 0px;
    background-color: transparent;
    color: #00ffea;
    font-size: 10pt;
}

.section {
    padding: 50pt;
}

.navigation {
    font-size: 9pt;
    fill: #00ffea;
}

.navigation:hover {
    font-size: 9pt;
    fill: #00998c;
}

.table {
    color: #c7d4d3;
}

.transposed tr {
    display: block;
    float: left;
}

.transposed th {
    display: block;
}

.transposed td {
    display: block;
}

.passed {
    color: #adff2f;
}

.failed {
    color: #f81f1f;
}

.A {
    color: #adff2f;
    font-size: 30pt;
}

.B {
    color: #fbff00;
    font-size: 30pt;
}

.C {
    color: #ff8800;
    font-size: 30pt;
}

.D {
    color: #e93e27;
    font-size: 30pt;
}

.F {
    color: #f81f1f;
    font-size: 30pt;
}
