<div id="charts" database='{{ database|tojson }}'>
    <div class="row justify-content-center">
        <div class="col-auto">
            <h2>Backend unit tests</h2>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row justify-content-center">
        {% for framework, data in database.items() %}
            <div class="col-lg-3 col-md-6 col-sm-1 justify-self-center">
                <canvas id='circle_{{ data.name }}'></canvas>
            </div>
        {% endfor %}
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-12 col-md-6 col-sm-1 justify-self-center">
                <canvas id='bar_chart'></canvas>
            </div>
        </div>
    </div>
<div>
