<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-auto">
            <h1>ONNX Backend Scoreboard</h1>
        </div>
    </div>
    <div class="row justify-content-center my-1">
        <div>
            {% with database=database_stable %}
                {%include "table.html" %}
            {% endwith %}
        </div>
    </div>
    <div class="row justify-content-center my-1">
        <div>
            {% with database=database_stable %}
                {%include "charts.html" %}
            {% endwith %}
        </div>
    </div>
</div>
