<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-auto">
            <h2>&nbsp ONNX Backend Scoreboard </h2>
        </div>
    </div>
    <div class="row my-2">
        <div class="col-md-2 py-1">
            <div class="card">

            </div>
        </div>
        <div class="col-md-8 py-1">
            <div class="card">
                <div class="card-body">
                    {%include 'table.html' %}
                </div>
            </div>
        </div>
        <div class="col-md-2 py-1">
            <div class="card">

            </div>
        </div>
    </div>
    <div class="row">
        {%include 'charts.html' %}
    </div>

</div>