<table class="table">
    <tr>
        <th scope="col">&nbsp</th>
        <th scope="row">Version</th>
        <th scope="row">Date</th>
        <th scope="row">Score</th>
    </tr>
    {% for framework, data in database.items() %}
    <tr>
        <th scope="row">{{loop.index}}.&nbsp&nbsp{{ data.name }}</th>
        <td>
        {% for package in data.version %}
            {{ package.name }}:&nbsp{{ package.version }}<br>
        {% endfor %}
        </td>
        <td>{{ data.trend[-1].date }}</td>
        <td>
            <div class='{{data.coverage.mark}}'>
                {{ "{:,.2f}%".format(data.coverage.passed) }}
            </div>
        </td>
    </tr>
    {% endfor %}
</table>
