<table class="table">
    <tr>
        <th scope="col">&nbsp</th>
        <th scope="row">Version</th>
        <th scope="row">Date</th>
        <th scope="row">Score</th>
        <th scope="row">Details</th>
    </tr>
    {% for framework, data in database.items() %}
    <tr>
        <th scope="row">{{ data.name }}</th>
        <td>
        {% for package in data.version %}
            {{ package.name }}:&nbsp{{ package.version }}<br>
        {% endfor %}
        </td>
        <td>{{ data.trend[-1].date }}</td>
        <td>
            <div class='{{data.coverage.mark}}'>
                {{ "{:,.2f}%".format(data.coverage.passed) }}
            </div>
        </td>
        <td>
            {% if dev %}
                <a href='{{ framework }}_details_dev.html'>
                >>
                </a>
            {% else %}
                <a href='{{ framework }}_details_stable.html'>
                >>
                </a>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>
